.media.list-image {
    background: #d3d3d33b;
    padding: .625rem;
    border: .125rem solid lightgray;
    margin-bottom: .325rem;
}
.media img {
  height: calc(100vh / 4);
  width: calc(100vw / 7);
  object-fit: cover;
  border: .125rem solid #d3d3d347;
}